*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.wrapper{
    display: flex;
    width: 100%;
    height: 50vh;
    flex-wrap: wrap;
}
.left-col,.right-col{
    flex-basis: 50%;
    height: 100vh;
    position: relative;
}
.logo{
    display: block;
    width: 140px;
    margin-top: 30px;
    margin-left: 120px;

}
.content{
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 120px;
    transform: translateY(-50%);
}
.content h1{
    color:#05a35f;
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.content p{
    color: #777;
    font-size: 17px;
    line-height: 28px;
    margin-bottom: 50px;
}
button{
    width: 100px;
    border: none;
    background: #04d342;
    box-shadow: 0px 10px 10px 1px rgba(219,219,219,0.5);
    padding: 25px 0;
    color: #ac4c64;
    outline: none;
    font-size: 12px;
    cursor: pointer;
}
.slider{
    width: 100%;
    height: 60%;
    display: flex;
}
.slider img{
    width: 80%;
}
.slider-content {
    width: 100%;
    height: 40%;
    background: #109f1a;
    padding-top: 30px;
    padding-left: 30px;
    box-sizing: border-box;
}
.slider-content h2{
    font-size: 26px;
    font-weight: 100;
    color: #fff;
}
.slider-content p{
    color: #bfffdd;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
}
hr{
    border: none;
    width: 270px;
    height: 1px;
    background: #b5e3cf;
    margin: 20px 0 30px;
}
.controller{
    width: 120px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.controller img{
    width: 45px;
    cursor: pointer;
}
.vertical-line{
    width: 2px;
    height: 30px;
    background: #b5e3cf;
}
/*---- media query for small screen devices--------*/


@media only screen and (max-width:800px){
    .logo{
        margin: 30px auto;
    }
    .left-col, .right-col{
        flex-basis: 100%;
    }
    .content{
        left: 0;
        padding: 20px;
        text-align: center ;
    }
    .content h1{
        font-size: 34px;
        line-height: 38px;
    }
    .slider{
        height: auto;
    }
    .slider-content{
        height: auto;
    }
}